#include "resource.h"

// main menu
IDM_MENU MENU DISCARDABLE
BEGIN
POPUP "File"
BEGIN
MENUITEM "Open", ID_FILE_OPEN
MENUITEM "Close", ID_FILE_CLOSE
END
MENUITEM "Goto", ID_GOTO, INACTIVE
MENUITEM "About", ID_ABOUT
END


IDD_GOTO DIALOGEX 0, 0, 209, 45
//STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Goto"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "go", ID_GOTO_OK, 126, 16, 50, 14
EDITTEXT        IDC_GOTO_EDIT, 19, 16, 95, 14
END

IDC_MYICON ICON "HPW.ico"